/* General Reset */
body, h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nextjs-portal {
    display: none;
}

body {
    font-family: poppins, sans-serif;;

    background-color: #fff;
    color: #333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

.background-gradient {
    background: #a73737;
    background: linear-gradient(to right, #7a2828, #a73737);
    height: 100vh; /* Set the height to cover the full viewport */
    width: 100%; /* Full width */
}

/* Header Slider */
.header-slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.header-slider .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-slider .content {
    z-index: 1;
}

.header-slider .logo {
    max-height: 60px;
    margin: 25px auto;
}

.header-slider h5 {
    font-size: 2rem;
    margin: 10px 0;
}

.header-slider h2 {
    font-size: 6.5em;
    font-family: niconne, cursive;
}

@media screen and (max-width: 750px) {
    .header-slider h2 {
        font-size: 2.5em !important;
    }

    .header-slider h5 {
        font-size: 1.5em !important;
    }
    
}

.header-slider p {
    font-size: 1rem;
    margin: 10px 0;
}

@media screen and (max-width: 890px) {
    .flex {
        display: block !important;
    }

    .right {
        margin-top: 100px;
        margin-right: 40px;
        display: flex;
    }
}

/* Countdown Section */
.countdown-section {
    padding: 20px;
    background-color: #fcf4ec;
}

.flex {
    position: relative;
    display: flex;
}

.left {
    margin-left: 70px;
}

.leftimg {
    margin-top: 15px;
}

.shape1 {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 220px;
}

.shape2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 220px;
}

.shape1 img {
    height: 100%;
    z-index: 1;
    opacity: 0.25;
}

.shape2 img {
    height: 100%;
    z-index: 1;
    opacity: 0.25;
}

.map {
    z-index: 10;
}

.dateleft {
    font-size: 22px;
}

.countdown {
    color: rgb(128, 128, 128);
}

.left h3 {
    font-family: niconne, cursive;
    color:  #d59a57;
    font-size: 35px;
    margin-bottom: 0;
}

.right {
    /*margin-top: 100px;*/
    /*margin-right: 40px;*/
    /*display: flex;*/
    align-items: end;
    flex-direction: column;
    margin-left: auto;
    margin-right: 70px;
}

.countdown-section p {
    font-size: 1.2rem;
}

.countdown-section .map img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    height: 160px;

}

/* Contact Section */
.contact-section {
    padding: 30px;
    text-align: center;
}

.contact-section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #d59a57;
    font-family: niconne, cursive;
}

.contact-section p {
    margin-bottom: 20px;
}

.invite {
    color: rgb(128, 128, 128);
}

.map img {
    border-radius: 15px; /* Adjust the value to control the roundness */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds shadow with offset, blur, and color */

}

.jade a {
    text-decoration: none; /* Removes the default underline */
    position: relative; /* Needed to position the pseudo-element */
    color: #1b75e3;
}

.jade a:hover {
    color: #0056b3;
}

/* Add a line underneath the anchor tag */
.jade a::after {
    content: ''; /* No text, just a line */
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%; /* Line takes the full width of the anchor */
    height: 2px; /* Thickness of the line */
    background-color: #1b75e3; /* Color of the line */
    color: #1b75e3;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: #fff;
}

.footer h4 {
    margin: 10px 0;
}

.footer video {
    margin: 10px 0;
}
